<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.group6.placementportal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan">
        <activity android:name=".student_RA"></activity>
        <activity
            android:name=".JRF_Approval_Profile"
            android:label="@string/title_activity_jrf__approval__profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Student_Profile_Approval"
            android:label="@string/title_activity_student__profile__approval"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student_Requests"
            android:label="@string/title_activity_student__requests"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Student_Complete_Profile" />
        <activity android:name=".NoticeFromCompany" />
        <activity
            android:name=".Admin_ApproveNotice"
            android:label="@string/title_activity_admin__approve_notice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Apply_For_Jobs"
            android:label="@string/title_activity_apply__for__jobs"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--<activity
            android:name=".Apply_For_Interns"
            android:label="@string/title_activity_apply__for__interns"
            android:theme="@style/AppTheme.NoActionBar" />-->
        <activity
            android:name=".JRF_Application_Requests"
            android:label="@string/title_activity_jrf__application__requests"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin_DashBoard"
            android:label="@string/title_activity_admin__dash_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Login_Page_Admin" /> <!-- <activity android:name=".LoginPage" /> -->
        <activity
            android:name=".Student_JRF"
            android:label="Student_JRF"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".job_list" />
        <activity android:name=".intern_list" />
        <activity
            android:name=".company_enrollments"
            android:label="@string/title_activity_company_enrollments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".approve_company" />
        <activity android:name=".company_change_password" />
        <activity
            android:name=".recipients_tab"
            android:label="@string/title_activity_recipients_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin_notices"
            android:label="@string/title_activity_admin_notices"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".company_notices"
            android:label="@string/title_activity_company_notices"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".company_profile"
            android:label="@string/title_activity_company_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Student_ChangePassword"
            android:label="@string/title_activity_student__change_password"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <activity -->
        <!-- android:name=".Apply_For_Jobs" -->
        <!-- android:label="@string/title_activity_apply__for__jobs" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".Student_Notifications"
            android:label="@string/title_activity_student__notifications"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View_Jobs"
            android:label="@string/title_activity_view__jobs"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- //<activity android:name=".Student_ChangePass" /> -->
        <!--<activity
            android:name=".View_Interns"
            android:label="@string/title_activity_view__interns"
            android:theme="@style/AppTheme.NoActionBar" />-->
        <activity
            android:name=".Student_Profile"
            android:label="@string/title_activity_student__profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Student_Dashboard"
            android:label="@string/title_activity_student__dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginPage"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Add in your scheme/host from registered redirect URI -->
                <!-- By default, the scheme should be similar to 'msal[appId]' -->
                <data
                    android:host="auth"
                    android:scheme="msalee86c0ea-3976-49d4-a7d5-87368851d7bc" />
            </intent-filter>
        </activity>

        <service
            android:name=".Student_Foreground_Notifications"
            android:exported="false" />

        <activity android:name=".company_dashboard" />
        <activity android:name=".job_profile" />
        <activity android:name=".intern_profile" />
        <activity android:name=".company_login" />
    </application>

</manifest>